In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:woaini520@localhost/db

In [3]:
%%sql
\dt

 * postgresql://postgres:***@localhost/db
7 rows affected.

[('public', 'bad_comments', 'table', 'murongcui'),
 ('public', 'bad_posts', 'table', 'murongcui'),
 ('public', 'comments', 'table', 'murongcui'),
 ('public', 'posts', 'table', 'murongcui'),
 ('public', 'topics', 'table', 'murongcui'),
 ('public', 'users', 'table', 'murongcui'),
 ('public', 'votes', 'table', 'murongcui')]

In [4]:
%%sql
\d bad_comments

 * postgresql://postgres:***@localhost/db
4 rows affected.

[['id',
  'integer',
  " not null default nextval('bad_comments_id_seq'::regclass)"],
 ['username', 'character varying(50)', ''],
 ['post_id', 'bigint', ''],
 ['text_content', 'text', '']]

In [5]:
%%sql
\d bad_posts

 * postgresql://postgres:***@localhost/db
8 rows affected.

[['id', 'integer', " not null default nextval('bad_posts_id_seq'::regclass)"],
 ['topic', 'character varying(50)', ''],
 ['username', 'character varying(50)', ''],
 ['title', 'character varying(150)', ''],
 ['url', 'character varying(4000)', ' default NULL::character varying'],
 ['text_content', 'text', ''],
 ['upvotes', 'text', ''],
 ['downvotes', 'text', '']]

In [6]:
%%sql
SELECT * FROM bad_comments
LIMIT 5;

 * postgresql://postgres:***@localhost/db
5 rows affected.

[(1, 'Liliane.Lakin40', 2615, 'Voluptatem cum nisi maxime itaque porro. Tempore animi fugit mollitia consequuntur occaecati maxime quisquam et. Et autem sed quasi.'),
 (2, 'Adeline99', 6755, 'Ab ea ad velit tempore. Consectetur quis corporis modi id. Rerum dolorem quas doloremque eaque iusto fugiat sapiente. Voluptas id tempore nisi est et maxime porro illo.'),
 (3, 'Darrel_Reynolds', 9102, 'Atque quaerat et. Omnis consequatur qui possimus sit accusantium dicta. Praesentium a fugiat nisi. Qui consequatur sed rerum excepturi sunt ratione. Omnis eius et officia doloribus suscipit similique porro corrupti nam.'),
 (4, 'Kolby.Langosh', 9734, 'Ratione facilis et beatae aut temporibus et qui nemo. Dolores officiis sapiente quod blanditiis harum quo. Error deleniti facilis reprehenderit fugit praesentium consequatur aut. Aut sit nisi.'),
 (5, 'Jared_Koss45', 890, 'Veritatis doloribus officiis cupiditate quibusdam voluptatem facilis vel possimus. Consectetur saepe voluptatem minus debitis et.')]

In [7]:
%%sql
SELECT * FROM bad_posts
LIMIT 5;

 * postgresql://postgres:***@localhost/db
5 rows affected.

[(1, 'Synergized', 'Gus32', 'numquam quia laudantium non sed libero optio sit aliquid aut voluptatem', None, 'Voluptate ut similique libero architecto accusantium inventore fuga. Maxime est consequatur repellendus commodi. Consequatur veniam debitis consequatur. Et eaque a. Magnam ea rerum eos modi. Accusamus aut impedit perferendis. Quasi est ipsum.', 'Judah.Okuneva94,Dasia98,Maurice_Dooley14,Dangelo_Lynch59,Brandi.Schaefer,Jayde.Kulas74,Katarina_Hudson,Ken.Murphy42', 'Lambert.Buckridge0,Joseph_Pouros82,Jesse_Yost'),
 (2, 'Applications', 'Keagan_Howell', 'officia temporibus molestias sequi ea qui', 'http://lesley.com', None, 'Marcellus31,Amina_Larson,Vicky_Hilll,Angelo_Aufderhar64,Javier25,Wilhelmine99,Danika_Renner88', 'Aniyah_Balistreri68,Demarcus.Berge,Melody.Ondricka,Ruben_Kuvalis,Marlin_Klocko7,Dangelo_Lynch59,Alana_Mayer17,Caleigh.McKenzie'),
 (3, 'Buckinghamshire', 'Gertrude.Nicolas48', 'officiis accusamus qui at blanditiis dolor sit', 'http://aurelie.name', None, 'Evangeline.Koss65,Adolfo_Ward,Ariel.Armstrong,Domingo_Ratke,Noble41', 'Reinhold.Little,Rosalyn44,Ezequiel_Lindgren,Adriel50,Keith.Schroeder,Opal.Schulist22,Carissa54,Lora7,Eudora_Dickinson68,Morgan.Aufderhar89'),
 (4, 'Incredible_Wooden_Salad', 'Aurelio56', 'rerum quae voluptas et nesciunt asperiores ea libero qui nihil quas dolorum', 'http://gerry.info', None, 'Julio_Strosin,Preston_Carroll13,Major99,Antonia_Eichmann24', 'Brandi.Schaefer,German60,Vicky_Hilll,Lorenza95,Raegan69,Gladys.Williamson'),
 (5, 'Plastic', 'Tia.Bosco', 'quos voluptatem nobis sunt nam repellat', None, 'Deleniti et tempore aut. Est velit exercitationem voluptates et est ducimus.', 'Brycen_Murphy,Cleveland51,Robyn_Hayes,George.Windler,Cheyenne_Green84,Monroe.Metz99,Carissa54,Elvis51,Andrew_Keeling67,Viva_Cassin57', 'Clement57,Hoyt79')]

Project Introduction: Udiddit, A Social News Aggregator


Udiddit is a social news aggregator, content rating, and discussions website. On Udiddit, registered users are able to link to external content or post their own text content about various topics, ranging from common topics such as photography and food, to more arcane ones such as horse masks or birds with arms. In turn, other users can comment on these posts, and each user is allowed to cast a vote about each post, either in an up (like) or down (dislike) direction.

Unfortunately, due to some time constraints before the initial launch of the site, the data model stored in Postgres hasn’t been well thought out, and is starting to show its flaws. You’ve been brought in for two reasons: first, to make an assessment of the situation and take steps to fix all the issues with the current data model, and then, once successful, to improve the current system by making it more robust and adding some web analytics.

Instructions

All your tasks are outlined in a single Google Docs document, which you should make a copy from (do not request access). A Word version of this template has also been attached at the bottom of this page. To complete the project, you’ll have to make your own copy of this document to document your findings and steps. This document will constitute your final submission for the project.

You need to complete the following in the template:

Part I: Investigate the existing schema
Part II: Create the DDL for your new schema
Part III: Migrate the provided data

#### Investigate the existing schema
- In bad_posts table, upvotes and downvotes contain multiple usernames, which violate the the first Normal Form -- only single value in cell

- In bad_comments table, the data type of post_id should be ineteger, since it will be the foreign key to reference bad_post (id)

- In bad_posts, the maximum length of the ulr is 24, which make the schema of url, VARCHAR(4000) not efficient.

#### Create the DDL fornew schema

Guideline #1: here is a list of features and specifications that Udiddit needs in order to support its website and administrative interface:
1. Allow new users to register:
  - Each username has to be unique
  - Usernames can be composed of at most 25 characters
  - Usernames can’t be empty
  - We won’t worry about user passwords for this project
2. Allow registered users to create new topics:
  - Topic names have to be unique.
  - The topic’s name is at most 30 characters
  - The topic’s name can’t be empty
  - Topics can have an optional description of at most 500 characters.
3. Allow registered users to create new posts on existing topics:
  - Posts have a required title of at most 100 characters
  - The title of a post can’t be empty.
  - Posts should contain either a URL or a text content, but not both.
  - If a topic gets deleted, all the posts associated with it should be automatically deleted too.
  - If the user who created the post gets deleted, then the post will remain, but it will become dissociated from that user.
4. Allow registered users to comment on existing posts:
  - A comment’s text content can’t be empty.
  - Contrary to the current linear comments, the new structure should allow comment threads at arbitrary levels.
  - If a post gets deleted, all comments associated with it should be automatically deleted too.
  - If the user who created the comment gets deleted, then the comment will remain, but it will become dissociated from that user.
  - If a comment gets deleted, then all its descendants in the thread structure should be automatically deleted too.
5. Make sure that a given user can only vote once on a given post:
  - Hint: you can store the (up/down) value of the vote as the values 1 and -1 respectively.
  - If the user who cast a vote gets deleted, then all their votes will remain, but will become dissociated from the user.
  - If a post gets deleted, then all the votes for that post should be automatically deleted too.

In [ ]:
%%sql
-- TABLE users: id, username 
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    username VARCHAR(25) UNIQUE NOT NULL,
    user_login TIMESTAMP 
);


-- TABLE topics
CREATE TABLE topics (
    id SERIAL PRIMARY KEY,
    name VARCHAR(30) UNIQUE NOT NULL CHECK ((LENGTH(TRIM (name)) > 0)), 
    description VARCHAR(500)
);
    
-- TABLE posts: id, title, topic_id, user_id, url, text_context 
CREATE TABLE posts (
    id SERIAL PRIMARY KEY,
    title VARCHAR(100) NOT NULL UNIQUE CHECK ((LENGTH(TRIM(title)) > 0)),
    topic_id INTEGER REFERENCES topics (id) ON DELETE CASCADE,
    user_id INTEGER REFERENCES users (id) ON DELETE SET NULL, 
    url VARCHAR DEFAULT NULL,
    text_context TEXT DEFAULT NULL,
    post_time TIMESTAMP,
    CONSTRAINT url_text_only_one_null CHECK ((url IS NULL AND text_context IS NOT NULL) OR (url IS NOT NULL AND text_context IS NULL))
);

CREATE INDEX find_posts_by_url ON posts (url);
CREATE INDEX find_post_by_topics ON posts (topic_id, post_time);
CREATE INDEX find_post_by_users ON posts (user_id, post_time);


-- TABLE comments: allow registered users to comment on existing post
-- comments: id, comment_context, post_id, user_id
CREATE TABLE comments (
    id SERIAL PRIMARY KEY,
    comment_context TEXT NOT NULL ,
    parent_comment_id INTEGER REFERENCES comments (id) ON DELETE CASCADE,
    post_id INTEGER REFERENCES posts (id) ON DELETE CASCADE,
    user_id INTEGER REFERENCES users (id) ON DELETE SET NULL,
    comment_time TIMESTAMP,
    CONSTRAINT comment_fk FOREIGN KEY (parent_comment_id)
    REFERENCES comments (id)
);

CREATE INDEX find_comments_by_users ON comments (user_id, comment_time);

-- TABLE vote: store the (up/down) value as the values 1 and -1
-- votes: id, voter_id, post_id, vote (1/-1)
CREATE TABLE votes (
    id SERIAL PRIMARY KEY,
    user_id INTEGER REFERENCES users (id) ON DELETE SET NULL,
    post_id INTEGER REFERENCES posts (id) ON DELETE CASCADE,
    vote SMALLINT CHECK (vote = 1 OR vote = -1),
    UNIQUE (user_id, post_id)
);

- List all users who haven’t logged in the last year.
- List all users who haven’t created any post.
- Find a user by their username.
- List all topics that don’t have any posts.
- Find a topic by its name.
-  List the latest 20 posts for a given topic.
- List the latest 20 posts made by a given user.
- Find all posts that link to a specific URL, for moderation purposes. 
- List all the top-level comments (those that don’t have a parent comment) for a given post.
- List all the direct children of a parent comment.
- List the latest 20 comments made by a given user.
- Compute the score of a post, defined as the difference between the number of upvotes and the number of downvotes

In [21]:
%%sql
SELECT * FROM users 
WHERE CURRENT_TIMESTAMP - INTERVAL '1 year' > user_login;

 * postgresql://postgres:***@localhost/db
0 rows affected.

[]

In [23]:
%%sql
SELECT id, username
FROM users 
WHERE id NOT IN (SELECT DISTINCT user_id FROM posts)
LIMIT 5;

 * postgresql://postgres:***@localhost/db
5 rows affected.

[(1, 'Aaliyah.Kilback'),
 (2, 'Aaliyah.Waelchi'),
 (3, 'Aaliyah3'),
 (4, 'Aaliyah_Spencer25'),
 (5, 'Aaron.Mills81')]

In [25]:
%%sql
EXPLAIN SELECT * FROM users WHERE username = 'Aaliyah.Waelchi';

 * postgresql://postgres:***@localhost/db
2 rows affected.

[('Index Scan using users_username_key on users  (cost=0.29..8.30 rows=1 width=25)',),
 ("  Index Cond: ((username)::text = 'Aaliyah.Waelchi'::text)",)]

In [29]:
%%sql
SELECT t.id, t.name 
FROM topics t
FULL JOIN posts p
ON t.id = p.topic_id
WHERE p.id IS NULL;

 * postgresql://postgres:***@localhost/db
0 rows affected.

[]

In [38]:
%%sql
-- List all topics that don’t have any posts.
SELECT t.id, t.name
FROM topics t
FULL JOIN posts p
ON t.id = p.topic_id
WHERE p.id IS NULL;

 * postgresql://postgres:***@localhost/db
0 rows affected.

[]

In [43]:
%%sql
-- Find a topic by its name.
EXPLAIN SELECT * FROM topics WHERE name = 'Bedfordshire';

 * postgresql://postgres:***@localhost/db
2 rows affected.

[('Seq Scan on topics  (cost=0.00..2.11 rows=1 width=530)',),
 ("  Filter: ((name)::text = 'Bedfordshire'::text)",)]

Part III: Migrate the provided data

Now that your new schema is created, it’s time to migrate the data from the provided schema in the project’s SQL Workspace to your own schema. This will allow you to review some DML and DQL concepts, as you’ll be using INSERT...SELECT queries to do so. Here are a few guidelines to help you in this process:

- Topic descriptions can all be empty
- Since the bad_comments table doesn’t have the threading feature, you can migrate all comments as top-level comments, i.e. without a parent
- You can use the Postgres string function regexp_split_to_table to unwind the comma-separated votes values into separate rows
- Don’t forget that some users only vote or comment, and haven’t created any posts. You’ll have to create those users too.
- The order of your migrations matter! For example, since posts depend on users and topics, you’ll have to migrate the latter first.
- Tip: You can start by running only SELECTs to fine-tune your queries, and use a LIMIT to avoid large data sets. Once you know you have the correct query, you can then run your full INSERT...SELECT query.
- NOTE: The data in your SQL Workspace contains thousands of posts and comments. The DML queries may take at least 10-15 seconds to run.

In [39]:
%%sql

INSERT INTO users (username) 
SELECT DISTINCT username
FROM
(
SELECT DISTINCT username FROM bad_comments 
    UNION
    SELECT DISTINCT username FROM bad_posts
UNION
SELECT DISTINCT REGEXP_SPLIT_TO_TABLE(upvotes, ',') username FROM bad_posts
UNION 
SELECT DISTINCT REGEXP_SPLIT_TO_TABLE(downvotes, ',') username FROM bad_posts
) tt;

 * postgresql://postgres:***@localhost/db
11077 rows affected.

[]

In [43]:
%%sql
INSERT INTO topics (name) 
SELECT DISTINCT topic 
FROM bad_posts;

 * postgresql://postgres:***@localhost/db
89 rows affected.

[]

In [55]:
%%sql
INSERT INTO posts (title, topic_id, user_id, url, text_context)
SELECT LEFT(bp.title, 100) , t.id, u.id, bp.url, bp.text_content 
FROM bad_posts bp
JOIN users u
ON bp.username = u.username
JOIN topics t
ON bp.topic = t.name;

 * postgresql://postgres:***@localhost/db
50000 rows affected.

[]

In [90]:
%%sql
INSERT INTO votes (user_id, post_id, vote)
SELECT user_id, post_id, vote FROM
(SELECT u.id user_id, t1.id post_id, 1 vote
FROM (SELECT id, REGEXP_SPLIT_TO_TABLE(upvotes, ',') username 
            FROM bad_posts) t1
JOIN users u
ON t1.username = u.username
UNION
SELECT u.id user_id, t1.id post_id, -1 vote
FROM (SELECT id, REGEXP_SPLIT_TO_TABLE(downvotes, ',') username 
            FROM bad_posts) t1
JOIN users u
ON t1.username = u.username) tt
;

 * postgresql://postgres:***@localhost/db
499710 rows affected.

[]

In [93]:
%%sql
INSERT INTO comments (comment_context, post_id, user_id)

SELECT bc.text_content, bc.post_id, u.id user_id
FROM bad_comments bc
JOIN users u
ON u.username = bc.username;

 * postgresql://postgres:***@localhost/db
100000 rows affected.

[]

In [3]:
%%sql
\d posts

 * postgresql://postgres:***@localhost/db
6 rows affected.

[['id', 'integer', " not null default nextval('posts_id_seq'::regclass)"],
 ['title', 'character varying(100)', ' not null'],
 ['topic_id', 'integer', ''],
 ['user_id', 'integer', ''],
 ['url', 'character varying', ''],
 ['text_context', 'text', '']]